{% extends "layout.html"%}
{% block content %}

    <div class="container">

        <div class="card">  

            <div class="pedido"> 

                <div class="linha"><div class="linha_estrutura_esquerda"><div class="linha_nome_container">Nome e Cor</div><div class="linhanum">Qnt.
                </div><p>Prc. Uni.</p></div><div class="linha_estrutura_direita">Prc. Total</div></div>

                {% for l in linha %}
                    
                    <div class="linha">

                        <div class="linha_estrutura_esquerda">

                            <div class="linha_nome_container">{{ l.nome }} {{ l.cor }}</div>
                            
                            
                            <form id="form_atualizar_linha_{{ l.id }}" class="form_horizontal" method="POST"></form>

                            <input 
                                class="linhanum"
                                type="number"
                                name="quantidade"
                                value="{{ l.quantidade }}"
                                form="form_atualizar_linha_{{ l.id }}"
                            >

                            <input
                                type="hidden"
                                name="id_linha"
                                value="{{ l.id }}"
                                form="form_atualizar_linha_{{ l.id }}"
                            >

                            <p><strong>x</strong></p>
                            <p>{{ l.preco_unitario }}€</p>
                        </div>

                        <div class="linha_estrutura_direita">

                            <a>{{ l.valor_linha }}€</a>

                            <div class="linha_botoes">

                                <form class="form_horizontal" method="POST" onsubmit="return confirm ('Tem a certeza que quer apagar esta linha?');">

                                    <input
                                        type="hidden"
                                        name="id_linha"
                                        value="{{ l.id }}"
                                    >
                                    <button class="botao_apagar_linha" type="submit" title="Apagar linha">
                                        🗑️
                                    </button>
                                    
                                </form>

                                <button class="botao_atualizar_linha" formaction="{{ url_for('atualizar_carrinho', quantidade=l.quantidade, preco=l.preco_unitario) }}" type="submit" form="form_atualizar_linha_{{ l.id }}" title="Atualizar linha">
                                    ⟲
                                </button>

                            </div>

                        </div>
                        
                    </div>
                        
                {% endfor %}
                
                

                <form class="form_horizontal" method="POST" action="/carrinhofinalizar" onsubmit="return confirm ('O pagamento será efetuado na loja, pretende continuar?');">
                    
                    <p><label>Observações:</label></p>
                    <textarea name="observacoes" rows="6" cols="70" placeholder="Notas acerca do pedido">{% if observacoes %}{{ observacoes }}{% endif %}</textarea>
                    <div class="botao_preco">
                        <strong>Valor Total: {{ valor_total }}€</strong>

                        <button class="animacao-botao" type="submit">
                            Finalizar Pedido
                        </button>
                        
                    </div>

                </form>

            </div>

        </div>

    </div>


{% endblock %}