{% extends "layout.html"%}
{% block content %}

    <div class="container">

        <div class="card">  

            <div class="pedido"> 
                <!-- Nome | Cor | Qnt. | Prc. Uni. | Prc. Total -->
                {% for l in linha %}
                    
                        <div class="linha">
                            {{ l.nome }}
                            {{ l.cor }}
                            {{ l.quantidade }}
                            {{ l.preco_unitario }}€
                            {{ l.valor_linha }}€

                            <form class="form_horizontal" method="POST" onsubmit="return confirm ('Tem a certeza que quer apagar esta linha?');">

                                <input
                                    type="hidden"
                                    name="id_linha"
                                    value="{{ l.id }}"
                                >
                                <button class="botao_apagar_linha" type="submit">
                                    Eliminar linha
                                </button>
                            </form>
                            
                        </div>
                        
                {% endfor %}
                
                

                <form class="form_horizontal" method="POST" action="/carrinhofinalizar" onsubmit="return confirm ('O pagamento será efetuado na loja, pretende continuar?');">
                    
                    <p><label>Observações:</label></p>
                    <textarea name="observacoes" rows="6" cols="70" placeholder="Notas acerca do pedido">{% if observacoes %}{{ observacoes }}{% endif %}</textarea>
                    <div class="botao_preco">
                        <strong>Valor Total: {{ valor_total }}€</strong>

                        <button class="animacao-botao" type="submit">
                            Finalizar Pedido
                        </button>
                        
                    </div>

                </form>

            </div>

        </div>

    </div>


{% endblock %}