<!DOCTYPE html>

<html lang="pt">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Configurações - DataEme</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >


</head>

<body>

    <header>

        <h1>Configurações</h1>

        <nav>

            <a href="{{ url_for('confirm_admin') }}">Dashboard</a>

            <a href="/logout">Logout</a>

        </nav>

    </header>


    <div class="dashboard_conf">


        <!-- CRIAR UTILIZADORES -->

        <a href="{{ url_for('configuracoes_utilizadores') }}" class="dashboard_conf-card">

            <div class="dashboard_conf-icon">
                👤
            </div>

            <h2>
                Criar Utilizador
            </h2>

            <p>
                Criar novas contas
            </p>

        </a>

        <!-- IMPOSTOS / IVA -->

        <a href="{{ url_for('configuracoes_impostos') }}" class="dashboard_conf-card">

            <div class="dashboard_conf-icon">
                💶
            </div>

            <h2>
                Impostos
            </h2>

            <p>
                Gerir as taxas de IVA aplicadas aos produtos.
            </p>

        </a>

        <!-- FAMÍLIAS -->

        <a href="{{ url_for('configuracoes_familias') }}" class="dashboard_conf-card">

            <div class="dashboard_conf-icon">
                📚
            </div>

            <h2>
                Editar Famílias
            </h2>

            <p>
                Gerir as famílias e as suas características.
            </p>

        </a>

    </div>


</body>

</html>