<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Dataeme</title>
    <link rel="icon" type="image/x-icon" href="/media/logo/Dataeme_logo.ico">

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

    <!-- =========================
        HEADER
        ========================= -->

    <header>


        <img src="/media/logo/Dataeme_logo.png" width="130px" height="auto">


        <nav>

            <a href="/catalogo">Catálogo</a>

            <a href="/carrinho">Carrinho</a>

            <a href="/perfil">Perfil</a>

            <a href="/admin">Admin</a>

            <a href="/logout">Logout</a>

        </nav>

    </header>

    {% block content %}
    {% endblock %}

    </body>
</html>