
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>DataEme - Pedidos</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

    <style>
        .variantes {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }

        .variante {
            display: flex;
            margin-bottom: 15px;
            height: 100%;
            width: min-content;
            background-color: white;
            border-radius: 12px;
            padding: 30px;
            row-gap: 25px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
        }

        .campo {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

<header>

    <h1>Lista de Pedidos</h1>

    <nav>

        <a href="{{ url_for('confirm_admin') }}">
            Dashboard
        </a>

        <a href="{{ url_for('logout') }}">
            Logout
        </a>

    </nav>

</header>


<div class="container">

    <!-- PESQUISA
    <form
        method="GET"
        action="{{ url_for('pedidos_admin') }}"
        class="filtro-form"
    >

        <input
            type="text"
            name="filtro"
            placeholder="Pesquisar por nome do modelo..."
            value="{{ filtro }}"
        >

        <button type="submit">
            Pesquisar
        </button>

        {% if filtro %}
            <a href="{{ url_for('produtos_admin') }}">
                Limpar
            </a>
        {% endif %}

    </form>
    -->


    {% set pedido_anterior = namespace(valor='') %}


    {% for pedido in info %}


        <!-- CLIENTE -->

        {% if pedido_anterior.valor != pedido.id_pedido %}

            <div class="familia">
                {{ pedido.nome_cliente }}
            </div>
             <!-- PEDIDO -->

            <div class="card produto-modelo">


                <div class="modelo-header">

                    <h2>
                        Pedido #{{ pedido.id_pedido }}
                    </h2>

                </div>


                <!-- INFORMAÇÃO DO PEDIDO -->

                <div class="campo">

                    <label>
                        Cliente
                    </label>

                    <input
                        type="text"
                        value="{{ pedido.nome_cliente }}"
                        disabled
                    >

                </div>


                <div class="campo">

                    <label>
                        Nº Cliente
                    </label>

                    <input
                        type="text"
                        value="{{ pedido.num_cliente }}"
                        disabled
                    >

                </div>


                <div class="campo">

                    <label>
                        Estado
                    </label>

                    <input
                        type="text"
                        value="{{ pedido.estado_pedido }}"
                        disabled
                    >

                </div>


                <div class="campo">

                    <label>
                        Data
                    </label>

                    <input
                        type="text"
                        value="{{ pedido.data }}"
                        disabled
                    >

                </div>
        

        {% endif %}


                <!-- PRODUTO -->

                <div class="variantes">

                    <div class="variante">

                        <form
                            method="POST"
                            action="{{ url_for('pedidos_admin') }}"
                        >


                            <!-- ID PEDIDO -->

                            <input
                                type="hidden"
                                name="id_pedido"
                                value="{{ pedido.id_pedido }}"
                            >


                            <!-- REFERÊNCIA -->

                            <div class="campo">

                                <label>
                                    Referência
                                </label>

                                <input
                                    type="text"
                                    value="{{ pedido.referencia }}"
                                    disabled
                                >

                            </div>


                            <!-- NOME -->

                            <div class="campo">

                                <label>
                                    Nome do Produto
                                </label>

                                <input
                                    type="text"
                                    value="{{ pedido.nome_produto }}"
                                    disabled
                                >

                            </div>


                            <!-- ID MODELO -->

                            <div class="campo">

                                <label>
                                    ID Modelo
                                </label>

                                <input
                                    type="text"
                                    value="{{ pedido.id_modelo }}"
                                    disabled
                                >

                            </div>


                            <!-- COR -->

                            <div class="campo">

                                <label>
                                    Cor
                                </label>

                                <input
                                    type="text"
                                    value="{{ pedido.cor }}"
                                    disabled
                                >

                            </div>


                            <!-- PREÇO -->

                            <div class="campo">

                                <label>
                                    Preço com IVA
                                </label>

                                <input
                                    type="number"
                                    name="preco_base"
                                    value="{{ pedido.preco }}"
                                    step="0.01"
                                    min="0"
                                    required
                                >

                            </div>


                            <!-- QUANTIDADE -->

                            <div class="campo">

                                <label>
                                    Quantidade
                                </label>

                                <input
                                    type="text"
                                    value="{{ pedido.quantidade }}"
                                    disabled
                                >

                            </div>


                            <!-- PREÇO DA LINHA -->

                            <div class="campo">

                                <label>
                                    Preço da Linha
                                </label>

                                <input
                                    type="text"
                                    value="{{ pedido.preco_total }}"
                                    disabled
                                >

                            </div>


                            <!-- CÓDIGO DE BARRAS -->

                            <div class="campo">

                                <label>
                                    Código de Barras
                                </label>

                                <input
                                    type="text"
                                    value="{{ pedido.codigo }}"
                                    disabled
                                >

                            </div>


                            <button type="submit">
                                Guardar alterações
                            </button>


                        </form>

                    </div>

                </div>
            {% if pedido_anterior.valor != pedido.id_pedido %}
            <!-- OBSERVAÇÕES -->

            <div class="campo">

                <label>
                    Observações
                </label>

                <p>
                    {{ pedido.observacoes }}
                </p>

            </div>


            <!-- VALOR TOTAL -->

            <div class="campo">

                <label>
                    Valor Total
                </label>

                <p>
                    {{ pedido.valor_total }}
                </p>

            </div>
            {% set pedido_anterior.valor = pedido.id_pedido %}

        {% endif %}


        </div>


    {% endfor %}


</div>

</body>

</html>