<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Catálogo</title>

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
    >

    <style>
        form p {
            padding: 20px;
            box-shadow: 0 3px 10px rgba(68, 67, 67, 0.08);
        }
            
        form button {
            margin-left: 20px;
            padding: 10px;
            font-size: 15px;
        }

        .submitContainer {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        .submitContainer div{
            margin-top: 15px;
        }
        
    </style>

</head>

<body>

    <header>

        <h1>Perfil</h1>

        <nav>

            <a href="/catalogo">
                Catálogo
            </a>

            <a href="/carrinho">
                Carrinho
            </a>
            
            <a href="/admin">
                Admin
            </a>
            
            <a href="/logout">
                Logout
            </a>

        </nav>

    </header>

    <div>

        <form method="POST">

            <p>
                <strong>Nome:</strong>
                <input
                    type="text"
                    name="nome"
                    value="{{ cliente.nome }}"
                    required
                >
            </p>

            <p>
                <strong>NIF:</strong>
                <input
                    type="text"
                    name="nif"
                    value="{{ cliente.nif }}"
                    required
                >
            </p>

            <p>
                <strong>Email:</strong>
                <input
                    type="email"
                    name="email"
                    value="{{ cliente.email }}"
                    required
                >
            </p>

            <p>
                <strong>Telefone:</strong>

                <input
                    type="text"
                    name="ind"
                    value="{{ cliente.indicativo }}"
                    required
                    style="width: 60px;"
                >

                <input
                    type="tel"
                    name="tel"
                    value="{{ cliente.tel }}"
                    required
                >
            </p>

            <p>
                <strong>Código Postal:</strong>

                <input
                    type="text"
                    name="postal"
                    value="{{ cliente.postal }}"
                    required
                    style="width: 90px;"
                >

                <input
                    type="text"
                    name="local"
                    value="{{ cliente.local }}"
                    required
                >
            </p>

            <p>
                <strong>Morada:</strong>

                <input
                    type="text"
                    name="morada"
                    value="{{ cliente.morada }}"
                    required
                >
            </p>

            <br>

            <div class="submitContainer">

                <button type="submit">
                    Salvar Alterações
                </button>
                
                {% if sucesso %}
                <div style="color: green; margin-bottom: 15px; font-weight: bold;">
                    {{ sucesso }}
                </div>
                {% endif %}

                {% if erro %}
                <div style="color: red; margin-bottom: 15px; font-weight: bold;">
                    {{ erro }}
                </div>
                {% endif %}

            </div>

        </form>

    </div>
</body>