{% extends "layout.html"%}
{% block content %}

    <div class="containerproduto">

        <!-- CAMINHO -->

        <div class="breadcrumb">

            <a href="/catalogo">Catálogo</a>

            &nbsp; / &nbsp;

            <a href="{{ url_for('catalogo', familia=produto.id_familia) }}">{{ produto.familia }}</a>

            &nbsp; / &nbsp;

            <a href="{{ url_for('catalogo', familia=produto.id_familia, subfamilia=produto.id_subfamilia) }}">{{ produto.subfamilia }}</a>

        </div>


        <!-- PRODUTO -->

        <div class="produto">

            <h1 class="nomeproduto">
                {{ produto.nome }}
            </h1>


            <div class="referencia">
                Referência: {{ produto.referencia }}
            </div>

            <!-- =========================
                    CORES DISPONÍVEIS
                    ========================= -->

            {% if produto.variantes %}

                <div class="cores-modelo">

                    {% for cor in produto.variantes %}

                        <a href="/produto/{{ cor.referencia }}" class="cor-link" title="{{ cor.nome_cor }}"><span class="cor-bola" style="background-color: {{ cor.codigo_cor }}"></span></a>

                    {% endfor %}

                </div>

            {% endif %}

            <!-- AVALIAÇÃO -->

            <div class="avaliacao">

                ⭐ {{ produto.avaliacao }} | {{ produto.num_avaliacao }} avaliações

            </div>

        <!-- DESCRIÇÃO CURTA -->

        {% if produto.descricao %}

            <div class="secao">

                <h2>
                    Descrição
                </h2>

                <p class="descricao">
                    {{ produto.descricao }}
                </p>

            </div>

        {% endif %}


            <!-- DESCRIÇÃO DETALHADA -->

            {% if produto.descricao_detalhada %}

                <div class="secao">

                    <h2>
                        Descrição detalhada
                    </h2>

                    <p class="descricao">
                        {{ produto.descricao_detalhada }}
                    </p>

                </div>

            {% endif %}


            <!-- INFORMAÇÕES -->

            <div class="secao">

                <h2>
                    Informações do produto
                </h2>

                <div class="informacoes">

                    <div class="informacao">

                        <div class="informacao-titulo">
                            Referência
                        </div>

                        <div class="informacao-valor">
                            {{ produto.referencia }}
                        </div>

                    </div>

                    <div class="informacao">

                        <div class="informacao-titulo">
                            Família
                        </div>

                        <div class="informacao-valor">
                            {{ produto.familia }}
                        </div>

                    </div>


                    <div class="informacao">

                        <div class="informacao-titulo">
                            Subfamília
                        </div>

                        <div class="informacao-valor">
                            {{ produto.subfamilia }}
                        </div>

                    </div>

                </div>


                <!-- PREÇO -->

                <div class="preco">
                    {{ produto.preco_com_iva }} €
                </div>


                <!-- ESTADO -->

                {% if produto.descontinuado %}

                    <div class="estado descontinuado">
                        Produto descontinuado
                    </div>

                {% else %}

                    <div class="estado disponivel">
                        Produto disponível
                    </div>

                {% endif %}

            </div>

            <!-- AVALIAÇÃO -->

            <form
                method="POST"
                action="{{ url_for('avaliacoes', referencia=produto.referencia) }}"
                class="carrinho"
            >
                <label>Classificação</label>
                <select name="classificacao">
                        <option value = "1"> 1 estrela</option>
                        <option value = "2"> 2 estrelas </option>
                        <option value = "3"> 3 estrelas </option>
                        <option value = "4"> 4 estrelas </option>
                        <option value = "5"> 5 estrelas </option>
                </select>

                <label>Comentário</label>
                <textarea name="comentario" rows="6" cols="70" placeholder="Avaliação do produto"></textarea>
                
                <button class="botao-avaliacao" type="submit">
                    Adicionar avaliação
                </button>

            </form>

            <!-- VOLTAR / ADICIONAR CARRINHO -->

            <div class="produto-botao">

                <a href="/catalogo" class="animacao-botao voltar">← Voltar ao catálogo</a>

                {% if not produto.descontinuado %}

                    <form
                        method="POST"
                        action="{{ url_for('adicionar_carrinho', referencia=produto.referencia) }}"
                        class="carrinho"
                    >

                        <label class="carrinho-num">

                            <strong>Qtd:</strong>

                            <input
                                type="number"
                                name="quantidade"
                                value="1"
                                min="1"
                                required
                            >

                        </label>


                        <button
                            type="submit"
                            class="animacao-botao"
                        >
                            Adicionar ao carrinho
                        </button>

                    </form>

                {% endif %}

            </div>

            {% for l in lista_avaliacoes %}

            <div class="avaliacao_container">
                <div class="avaliacao_info">
                    <p>{{ l.nome }}</p>
                    <div class="avaliacao_info_direita">
                        <div class="avaliacao_rating">⭐{{ l.classificacao }}</div>
                        <div class="avaliacao_data">{{ l.data_avaliacao }}</div>
                    </div>
                </div>
                <div class="avaliacao_comentario">{{ l.comentario }}</div>

            </div> 

            {% endfor %}

        </div>

    </div>

{% endblock %}