<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Recuperar Password</title>

    <style>

        .card{
            display: flex;
            flex-direction: column;
            padding: 50px;
            width: 530px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }

    </style>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- =========================
         HEADER
         ========================= -->

    <header>

        <h1>
            Recuperar Password
        </h1>

    </header>

    <div class="container">

        <div class="card">

            {% if erro %}
            <p style="color:red;">
                {{ erro }}
            </p>
            {% endif %}

            {% if sucesso %}
            <p style="color:green;">
                {{ sucesso }}
            </p>
            {% endif %}

            <form method="POST">

                <label for="email"><h2>
                    Introduza o Email associado à sua conta.
                </h2></label>

                <br>

                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="exemplo@email.com"
                    required
                >

                <br><br>

                <button type="submit">
                    Enviar código
                </button>

            </form>

            <br>

            <a href="/login">
                Voltar ao login
            </a>

        </div>
    
    </div>

</body>
</html>