{% extends "layout.html" %}

{% block content %}

<h2>Recuperar password</h2>

<p>
    Introduza o email associado à sua conta.
</p>

{% if erro %}
<p style="color:red;">
    {{ erro }}
</p>
{% endif %}

{% if sucesso %}
<p style="color:green;">
    {{ sucesso }}
</p>
{% endif %}

<form method="POST">

    <label for="email">
        Email
    </label>

    <br>

    <input
        type="email"
        id="email"
        name="email"
        placeholder="exemplo@email.com"
        required
    >

    <br><br>

    <button type="submit">
        Enviar código
    </button>

</form>

<br>

<a href="/login">
    Voltar ao login
</a>

{% endblock %}